<!--<h1>Sessions#new</h1>
<p>Find me in app/views/sessions/new.html.erb</p>-->
<div>
<h3>User log in:</h3>
first name
<%= form_tag "/sessions" do %>
<%= text_field_tag :current_user %>
<%= submit_tag "login" %>
<% end %>
</div>
