<!DOCTYPE html>
<html>

<ul>
  <li><a href="http://0.0.0.0:3000/posts">Post</a></li>
  <li><a href="http://0.0.0.0:3000/users">Create user</a></li>
  <li><a href="http://0.0.0.0:3000/sessions/new">Log in</a></li>
</ul>
  <head>
    <title>Blog</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
